/* Import fonts */


/* check if we actually use the three fonts */

@font-face {
    font-family: 'Fira';
    src: url('../fonts/fira/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Medium';
    src: url('../fonts/fira/FiraSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Bold';
    src: url('../fonts/fira/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Global */

body {
    /* font-family: 'Fira', Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #FDFDFD;
}

#services_body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


/* orange is a class used as <span> when we need to
tuurn a letter red*/

.orange {
    color: #FF7F20;
}


/* removes the underline and the color of links.
links are the top and bottom menu,
and the words of the sections in the body */

a {
    text-decoration: none;
    color: black;
}


/* uls are: in the header menu, in the footer menu,
and in the services page's body*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}


/* Header */


/* header is the html tag */

header {
    padding: 30px 30px 0px 30px;
    overflow: hidden;
}


/* home_header is the id of the homepage's header
the only one with the picture and the onclick menu
*/

#home_header {
    height: 100vh;
    background: url('../img/background_lamp.jpg') no-repeat 0 0;
    background-size: cover;
    background-position: right bottom;
}


/* the logo. So far it's an img on each pages*/

header #logo {
    width: 40%;
}


/* the logo, smaller, for other pages save the index*/

header #logo-small {
    width: 20%;
    min-width: 150px;
}


/* nav is a container for:
- on index page, the sliding up ul.
- on other pages, the contact link*/

header nav {
    position: relative;
    top: 15%;
    left: 2%;
    /*display: none;*/
}


/* an li alone inside an ul inside a div id="nav", displaying the contact link on pages
design, services, and news. The contact link sends to bottom of page.*/

header .contact-pages {
    position: relative;
    left: -25px;
    color: rgba(114, 114, 114, 0.7);
}

.contact-pages {
    margin-bottom: 0;
}


/* see above*/

header ul {
    position: relative;
}


/* see above*/

header li {
    position: relative;
    font-family: 'Fira Medium';
    margin: 40px 0 80px 0;
    padding: 0;
}


/* see above*/

header a {
    font-family: 'Fira';
    text-transform: uppercase;
    font-size: 1.5em;
    color: rgba(114, 114, 114, 0.7);
}

header a:hover,
header li:hover {
    color: #FF7F20;
}


/* header span is the 'riga maria architect' text*/


/***************************************/


/*****HERE change from span to h1!!!*/

header span {
    font-family: 'Fira';
    text-transform: uppercase;
    font-size: 1.6em;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

header span:hover {
    color: #FF7F20;
}


/* .sliderUp is attached to li. it's the slide-in menu
Now, they are sliding down and disappear when page refreshed*/

.sliderUp {
    position: relative;
    top: 400px;
    opacity: 0;
    /* if display: none, they don't appear at all*/
    display: list-item;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}


/* Appearing text Services */


/* service_header is header tag inside the service_background body*/

#service_header {
    padding: 0;
    margin: 0;
}


/* services_body is INSIDE the service_header
it contains the ul, div #cell, li with title, and p appearign (toggle)*/

#services_content {
    position: relative;
    padding: 0 5% 0 5%;
}


/* see above*/

.cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* categries id the class of the titles (li) in service page*/

.categories {
    font-size: 1.2em;
    cursor: default;
    width: 20%;
    padding: 0 5px;
    margin: 1px 1px 11px 1px;
    z-index: 2;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.categories:hover {
    color: #FF7F20;
    border: none;
    margin: 0 0 10px 0;
    border: 1px solid #FF7F20;
}


/* hidden is the class of the descriptions (p)
apprearing in services page*/

.hidden {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 26%;
    width: 60%;
    height: 0px;
    max-height: 4rem;
    overflow: hidden;
    z-index: 2;
}

.appear {
    -webkit-animation: appear 1.5s;
    -moz-animation: appear 1.5s;
    animation: appear 1.5s;
    animation-fill-mode: forwards;
    /* border: 1px solid red; */
}

@keyframes appear {
    100% {
        height: 100%;
    }
}

@-webkit-keyframes appear {
    100% {
        height: 100%;
    }
}

@-moz-keyframes appear {
    100% {
        height: 100%;
    }
}


/* Social Links */


/* a div inside the body of the pages.
containing directly the three imgs of social medias*/

#social {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 2;
}

#social img {
    display: block;
    margin: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
}

#social img:hover {
    opacity: 1;
}


/* Sections And Mottos Container*/


/* container wraps the actual body of the index page*/

.container {
    margin: 0 5% 0 5%;
    padding: 0;
    /*overflow: hidden;*/
    min-height: 600px;
}


/* section is the containing tags, with id = services, design, news
sections contains:
- a, containing img and h1,
- div class="motto"
*/

.container section,
.container img,
.container h1,
.container div {
    position: relative;
}

.container h1 {
    text-transform: uppercase;
    display: inline-block;
}


/* The animation code */

.front,
.middle,
.back {
    -webkit-transition: top 0.7s;
    /* Safari and Chrome*/
    -moz-transition: top 0.7s;
    /* Firefox */
    -o-transition: top 0.7s;
    /* Opera */
    transition: top 0.7s;
    -webkit-transition-timing-function: ease-out;
    /* Safari and Chrome*/
    -moz-transition-timing-function: ease-out;
    /* Firefox */
    -o-transition-timing-function: ease-out;
    /* Opera */
    transition-timing-function: ease-out;
    z-index: 2;
    /*animation-name: example;
    animation-duration: 4s;*/
}


/* those numbers are the same in the javascript for animation */

.front {
    top: 300px;
    z-index: 2;
}

.middle {
    top: 150px;
    z-index: 1;
}

.back {
    top: 75px;
    z-index: -1;
}


/****************/


/* container a is for the sections in index page.
categories is li tags in services page */

.container a img:hover,
.container a h1:hover,
.categories li:hover {
    opacity: 0.7;
}


/****************/


/* Design Projects */


/* flex-container is the container for each project in
design and news page. so far unused*/

.flex-container {}


/* project is a div inside the flex-container
contains 
- h1 'togglebutton' and
- div class "fix", containing img and a div "txt", containing
- two p without class
*/

.project {
    margin: 0 50px 50px 50px;
}

.project h1 {
    font-size: 4rem;
    position: relative;
    top: 80px;
    text-transform: lowercase;
    z-index: 1;
}


/* class "fix", containing img and a div "txt" */

.fix {
    display: flex;
    margin: 20px 0;
}


/* targeting the img directly from the project class*/

.project img {
    width: 50%;
    height: auto;
    z-index: 0;
    align-self: flex-start;
}


/* div "txt", containing
- two p without class */

.txt {
    align-content: center;
}


/* targetting the 2 p's directly from the class project*/

.project p {
    font-family: 'Fira Medium';
    font-size: 1.5rem;
    color: rgba(114, 114, 114, 0.7);
    width: 40%;
    margin: 0 60px 60px 60px;
    width: 80%;
}


/* right and left are an additional class for project.*/

.right h1 {
    left: 50%;
}

.left h1 {
    left: -5%;
}


/* change the order of p and img to change the order on screen*/


/* consider changing right p to right txt
tested. Changes the padding of the texts, and hox it's indented
*/

.right p {
    order: 1;
    align-self: center;
    padding-left: 40px;
}

.right img {
    order: 2;
}


/*****************/


/* DESIGN SlideShows*/


/******************/


/* those are the h1 class, and the img class*/

.togglebtn {
    cursor: default;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /*Likely future */
}

.togglebtn:hover {
    opacity: 0.8;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */


/* here we have a problem when the screen is smaller, but not enough
yet: the img stretches*/

.modal-content {
    margin: auto;
    display: none;
    /*width: 80%;*/
    height: 80%;
    max-width: 80%;
    opacity: 0.4;
}


/* 100% Image Width on Smaller Screens */


/* there is no .fade class. The class of the images is modal-content*/


/* @media only screen and (max-width: 700px) {
    .fade {
        width: 100%;
    }
} */


/* Add Animation */


/* fade-in.*/

.modal-content {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* The Close Button */

.close {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    right: 80px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/****************/


/*  END DESIGN SlideShow  */


/***************/


/* Mottos */

.motto {
    font-family: 'Fira Medium';
    text-transform: lowercase;
    font-size: 3vw;
    text-align: center;
    color: #727272;
    display: inline-block;
}


/* Section Services */

#services {
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
}

#services img {
    width: 30%;
    height: auto;
    margin: 10% 0 10% 10%;
    padding: 0;
}

#services h1 {
    position: absolute;
    font-size: 4vw;
    left: 0px;
    margin: 27% 0 0 0;
    padding: 0;
}


/* Motto 1 */

#motto1 {
    float: right;
    margin: 27% 14% 0 0;
    padding: 0;
}


/* Section Design */

#design {
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
}


/* Motto 2 */

#motto2 {
    float: left;
    margin: 45% 2% 0 10%;
    padding: 0;
}

#design h1 {
    position: absolute;
    font-family: 'Fira Medium';
    z-index: 2;
    font-size: 12vw;
    left: 0px;
    margin: 4% 0 0 50%;
    padding: 0;
}

#design img {
    z-index: 0;
    width: 40%;
    height: auto;
    padding: 10% 0 10% 10%;
}


/* Motto 3 */

#motto3 {
    float: right;
    text-align: center;
    margin: 5% 0 0 0;
    padding: 0;
}


/* Section News */

#news {
    margin: 20% 0 0 0;
    width: 100%;
    clear: right;
}

#news img {
    margin: 0;
    width: 35%;
    margin: 10% 0 0 20%;
    padding: 0;
}

#news h1 {
    margin: 0;
    font-size: 4.2vw;
    position: absolute;
    left: 53%;
    margin: 25% 0 0 0;
    padding: 0;
}


/* footer */


/* footer is html tag present on each page EXCEPT the services pages
Because of the background image, not used for services page.*/

footer {
    margin: 5% 0 0 0;
    padding: 10% 0 5% 0;
    background: url('../img/background_footer.jpg') no-repeat;
    background-size: cover;
    min-height: 200px;
    position: relative;
    z-index: 0;
}


/* it's the list of links at bottom of pages*/

footer ul {
    padding-top: 5%;
}

footer li,
footer a {
    font-family: 'Fira Medium';
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
    display: inline-block;
    margin: 0 4% 0 7%;
    padding: 0;
}


/* footer p is the contact details.*/

footer p {
    position: absolute;
    font-family: 'Fira Medium';
    font-size: 1.2em;
    right: 5%;
    bottom: 10%;
}

footer a:hover {
    color: #FF7F20;
}


/* Services footer */


/* here is the services page footer. It's a div, with Id*/

#services_footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#services_footer ul {
    margin: 4% 0 4% 0;
    padding: 0;
    /*padding-top: 5%;*/
}

#services_footer li,
#services_footer a {
    font-family: 'Fira Medium';
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
    display: inline-block;
    padding: 0 0;
}


/* service-footer p is the contact details on services page.*/

#services_footer p {
    position: absolute;
    font-family: 'Fira Medium';
    font-size: 1.2em;
    right: 5%;
    /* how can I push that even
lower towerd the bottom? */
    bottom: 10%;
}

#services_footer a:hover {
    color: #FF7F20;
}


/*Responsive Styles*/


/* Desktops ------------------ */

@media only screen and (min-width: 1201px) {
    /* Add Your CSS Styling Here */
}


/* Old Desktops and laptops ------------------ */

@media only screen and (min-width: 1025px) {
    /* Add Your CSS Styling Here */
}


/* Tablets (landscape) ------------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Add Your CSS Styling Here */
}


/* Tablets (portrait) -------------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Add Your CSS Styling Here */
}


/* Smartphones (landscape) ---------------- */

@media only screen and (min-width: 321px) and (max-width: 767px) {
    /* Add Your CSS Styling Here */
}


/* Smartphones (portrait) ---------------- */

@media only screen and (max-width: 320px) {
    /* Add Your CSS Styling Here */
}